<ion-view view-title="Dessert">
  	<ion-content padding="true">
  	<ion-toggle ng-model="fontchange"
                ng-change="triggerfontchange()">
     Open Big Font Mode
    </ion-toggle>
		<div class="list">
		    <a class="item item-thumbnail-left item-button-right" ng-repeat="dessert in dessertlist" style="click: false">
		      <img src="img/bento.jpg">
		      <h2 ng-show="fontdontchange">{{dessert.name}}</h2>
		      <p ng-show="fontdontchange">HK$: {{dessert.price}}</p>
		      <p ng-show="fontdontchange">Description: {{dessert.description}}</p>
		      <p ng-show="fontdontchange">Supply Period: {{dessert.period}}</p>
		      <h1 ng-show="fontchange">{{dessert.name}}</h1>
		      <h2 ng-show="fontchange">HK$: {{dessert.price}}</h2>
		      <h2 ng-show="fontchange">Description: {{dessert.description}}</h2>
		      <h2 ng-show="fontchange">Supply Period: {{dessert.period}}</h2>
		      <button class="button  button-balanced button-clear   icon ion-android-cart" style="margin-top: 30px"
	          ng-click="addToCart(dessert)">
        	</button>
		    </a>	    
		</div>

  </ion-content>
</ion-view>