<ion-view view-title="Drink">
  	<ion-content padding="true">
  	<ion-toggle ng-model="fontchange"
                ng-change="triggerfontchange()">
     Open Big Font Mode
    </ion-toggle>
		<div class="list">
		    <a class="item item-thumbnail-left item-button-right" ng-repeat="drink in drinklist" style="click: false">
		      <img src="img/bento.jpg">
		      <h2 ng-show="fontdontchange">{{drink.name}}</h2>
		      <p ng-show="fontdontchange">HK$: {{drink.price}}</p>
		      <p ng-show="fontdontchange">Description: {{drink.description}}</p>
		      <p ng-show="fontdontchange">Supply Period: {{drink.period}}</p>
		      <h1 ng-show="fontchange">{{drink.name}}</h1>
		      <h2 ng-show="fontchange">HK$: {{drink.price}}</h2>
		      <h2 ng-show="fontchange">Description: {{drink.description}}</h2>
		      <h2 ng-show="fontchange">Supply Period: {{drink.period}}</h2>
		      <button class="button  button-balanced button-clear   icon ion-android-cart" style="margin-top: 30px"
	          ng-click="addToCart(drink)">
        	</button>
		    </a>	    
		</div>

  </ion-content>
</ion-view>