<ion-view view-title="Recommend">
  <ion-content padding="true">
  	<h3 style="text-align: center"></h3>
  	<ion-toggle ng-model="fontchange"
                ng-change="triggerfontchange()">
     Open Big Font Mode
    </ion-toggle>
		<div class="list card">
			<div ng-repeat="dish in recommendlist" style="margin-top: 5%">
			  
			  <div class="item item-avatar">
			    <img  src="img/gold-medal-blue.png">
			    <h2 ng-show="fontdontchange">{{dish.name}}</h2>
			    <p ng-show="fontdontchange">HK$: {{dish.price}}</p>
			    <p ng-show="fontdontchange">
			      {{dish.description}}
			    </p>

			    <h1 ng-show="fontchange">{{dish.name}}</h1>
			    <h2 ng-show="fontchange">HK$: {{dish.price}}</h2>
			    <h2 ng-show="fontchange">
			      {{dish.description}}
			    </h2>

			  </div>

			  <a class="item item-icon-left assertive" ng-click='addtocart(dish)'>
    			<i class="icon ion-plus-circled"></i>
    			Add To Cart
  			  </a>

  			  <div class="item item-divider">
			   
			  </div>
			
			</div>
		  
		</div>
  </ion-content>
</ion-view>