<ion-view view-title="Users">
  <ion-content padding="true">	
    <div class="list">
      <a class="item item-thumbnail-left item-button-right" ng-repeat="user in all_users" ng-model="user_in_db">
        <img src="img/user-profile.png">
        <h2>Name: {{user.name}}</h2>
        <p>Email: {{user.email}} </p>
        <p>Created Time: {{user.createdAt}} </p>
        <p ng-show="{{user.frequency > 5}}" style="color: red">This user is VIP</p>
        <button class="button button-energized" 
          ng-click="setvip(user)">
          Set VIP
        </button>
        <button class="button button-assertive" style="margin-top: 40px"
          ng-click="deleteuser(user)">
          Delete 
        </button>
      </a>
    </div>

  </ion-content>
</ion-view>